<form id="form-away" method="POST" action="{{ url_for('nfl.nfl_create_bet', game_key=nfl_game.GameKey) }}">
    {{ form_a.csrf_token }}
    <div class="form-group">
        {{ form_a.game_key(value=nfl_game.GameKey) }}
    </div>
    <span class="error bg-danger">
        {% if form_a.game_key.errors %}
            {% for error in form_a.game_key.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        {{ form_a.away_(value=a_team) }}
    </div>
    <span class="error bg-danger">
        {% if form_a.away_.errors %}
            {% for error in form_a.away_.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        {{ form_a.home_(value=h_team) }}
    </div>
    <span class="error bg-danger">
        {% if form_a.home_.errors %}
            {% for error in form_a.home_.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        {{ form_a.away_team.label }}
        {{ form_a.away_team(id="away_team", class="form-control", readonly=True, value=nfl_game.AwayTeam) }}
    </div>
    <span class="error bg-danger">
        {% if form_a.away_team.errors %}
            {% for error in form_a.away_team.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
     {{ form_a.point_spread.label }}
        {% if nfl_game.PointSpread > 0 %}
            {{ form_a.point_spread(id="away_ps",class="form-control", value=nfl_game.PointSpread*-1, type="number", min="-14", max="14", step="0.5") }}
        {% else %}
            {{ form_a.point_spread(id="away_ps",class="form-control", value=nfl_game.PointSpread*-1, type="number", min="-14", max="14", step="0.5") }}
        {% endif %}
    </div>
    <span class="error bg-danger">
        {% if form_a.point_spread.errors %}
            {% for error in form_a.point_spread.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        <label class="sr-only" for="amount">Amount (in btc)</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-btc" aria-hidden="true"></i></div>
            {{ form_a.amount(id="amount", placeholder="0.08", class="form-control")}}
        </div>
    </div>
    <span class="error bg-danger">
        {% if form_a.amount.errors %}
            {% for error in form_a.amount.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    {{ form_a.submit_a(class="btn btn-success") }}
</form>