{% from "_macros_nfl.html" import render_field_with_errors, render_field %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <!-- Nav tabs -->
                  <ul class="nav nav-tabs team_stats_nav-tabs" id="bet_tabs">
                    <li class="active"><a href="#{{ nfl_game.HomeTeam }}vs{{ nfl_game.AwayTeam }}" data-toggle="tab">Info</a></li>
                    <li><a href="#{{ nfl_game.HomeTeam }}" data-toggle="tab">Home</a></li>
                    <li><a href="#{{ nfl_game.AwayTeam }}" data-toggle="tab">Away</a></li>
                    <li><a href="#{{ nfl_game.HomeTeam }}vs{{nfl_game.GameKey }}{{ nfl_game.AwayTeam }}" data-toggle="tab">Over/Under</a></li>
                  </ul>
            </div>
            <!-- <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="{{ nfl_game.HomeTeam }}vs{{ nfl_game.AwayTeam }}">
                    {% include "create_bet/info_bet.html" %}
                </div>
                <div class="tab-pane" id="{{ nfl_game.HomeTeam }}">
                    {% include "create_bet/home_bet.html" %}
                </div> <!-- end tab-pane home -->
                <div class="tab-pane" id="{{ nfl_game.AwayTeam }}">
                    {% include "create_bet/away_bet.html" %}    
                </div> <!-- end tab-pane away -->
                <div class="tab-pane" id="{{ nfl_game.HomeTeam }}vs{{nfl_game.GameKey }}{{ nfl_game.AwayTeam }}">
                    {% include "create_bet/over_bet.html" %}
                </div><!-- end tab-pane totals -->
            </div> <!-- end tab-content -->
        </div>
    </div><!-- row -->
</div><!-- end container -->