<form id="form-home" method="POST" action="{{ url_for('nfl.nfl_create_bet', game_key=nfl_game.GameKey) }}"  onsubmit="return HomeSideForm(this);">
    {{ form_h.csrf_token }}
    <div class="form-group">
        {{ render_field_with_errors(form_h.game_key, value=nfl_game.GameKey) }}
    </div>
    <div class="form-group">
        {{ render_field_with_errors(form_h.away_,value=nfl_game.AwayTeam) }}
    </div>
    <div class="form-group">
        {{ render_field_with_errors(form_h.home_,value=nfl_game.HomeTeam) }}
    </div>
    <div class="form-group">
        {{ form_h.home_team.label }}
        {{ render_field_with_errors(form_h.home_team, id="home_team", class="form-control", readonly=True,value=nfl_game.HomeTeam) }}
    </div>
    <div class="form-group">
     {{ form_h.point_spread.label }}
        {% if nfl_game.PointSpread < 0 %}
            {{ render_field_with_errors(form_h.point_spread, id="home_ps",class="form-control", value=nfl_game.PointSpread, type="number", min="-21", max="21", step="0.5") }}
        {% else %}
            {{ render_field_with_errors(form_h.point_spread, id="home_ps",class="form-control", value=nfl_game.PointSpread, type="number", min="-21", max="21", step="0.5") }}
        {% endif %}
    </div>
    <div class="form-group">
        <label class="sr-only" for="amount">Amount (in btc)</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-btc" aria-hidden="true"></i></div>
            {{ render_field_with_errors(form_h.amount, id="amount", placeholder="0.08", class="form-control")}}
        </div>
    </div>
    {{ form_h.submit_h(class="btn btn-success") }}
</form>