<form id="form-over" method="POST" action="{{ url_for('nfl.nfl_create_bet', game_key=nfl_game.GameKey) }}">
    {{ form_o.csrf_token }}
    <div class="form-group">
        {{ form_o.game_key(value=nfl_game.GameKey) }}
    </div>
    <span class="error bg-danger">
        {% if form_o.game_key.errors %}
            {% for error in form_o.game_key.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        {{ form_o.away_(value=a_team) }}
    </div>
    <span class="error bg-danger">
        {% if form_o.away_.errors %}
            {% for error in form_o.away_.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        {{ form_o.home_(value=h_team) }}
    </div>
    <span class="error bg-danger">
        {% if form_o.home_.errors %}
            {% for error in form_o.home_.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        {{ form_o.over_under.label }} 
        {{ form_o.over_under }}
    </div>
    <span class="error bg-danger">
        {% if form_o.over_under.errors %}
            {% for error in form_o.over_under.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        {{ form_o.total.label }}
        {{ form_o.total(class="form-control", value=nfl_game.OverUnder) }}  
    </div>
    <span class="error bg-danger">
        {% if form_o.total.errors %}
            {% for error in form_o.total.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group">
        <label class="sr-only" for="amount">Amount (in btc)</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-btc" aria-hidden="true"></i></div>
            {{ form_o.amount(id="amount", placeholder="0.08", class="form-control")}}
        </div>
    </div>
    <span class="error bg-danger">
        {% if form_o.amount.errors %}
            {% for error in form_o.amount.errors %}
                <div class="bg-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </span>
    {{ form_o.submit_o(class="btn btn-success") }}
</form>