<form id="form-over" method="POST" action="{{ url_for('nfl.nfl_create_bet', game_key=nfl_game.GameKey) }}"  onsubmit="return OverUnder(this);" >
    {{ form_o.csrf_token }}
    <div class="form-group">
        {{ render_field_with_errors(form_o.game_key, value=nfl_game.GameKey) }}
    </div>
    <div class="form-group">
        {{ render_field_with_errors(form_o.away_, value=nfl_game.AwayTeam) }}
    </div>
    <div class="form-group">
        {{ render_field_with_errors(form_o.home_, value=nfl_game.HomeTeam) }}
    </div>
    <div class="form-group">
        {{ form_o.over_under.label }} 
        {{ render_field_with_errors(form_o.over_under) }}
    </div>
    <div class="form-group">
        {{ form_o.total.label }}
        {{ render_field_with_errors(form_o.total, class="form-control", value=nfl_game.OverUnder) }}  
    </div>
    <div class="form-group">
        <label class="sr-only" for="amount">Amount (in btc)</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-btc" aria-hidden="true"></i></div>
            {{ render_field_with_errors(form_o.amount, id="amount", placeholder="0.08", class="form-control")}}
        </div>
    </div>
    {{ form_o.submit_o(class="btn btn-success") }}
</form>