*.pyc
*.db
app/*.pyc
app/users/*.pyc
app/nfl/*.pyc
app/home/*.pyc
app/static/img/*
sports/
sports/* 
run.sh
/home/www/peer_flask/app/static/img/*.png
/home/www/peer_flask/app/static/img/*.jpg 
/home/www/peer_flask/app/static/img/*.gif 
/home/www/peer_flask/app/static/img/*.jpeg
.vagrant/machines/default/virtualbox
.vagrant
.git
download_log
peer_cron_log
venv/
package.json
node_modules/
npm-debug.log
team_img/*
