<table id="special_kicking_season_stats" class="table table-striped table-condensed table-bordered display" cellspacing="0" width="100%">
    <thead>       
        <tr>
            <th colspan="2"></th>
            <th colspan="4">FIELD GOALS</th>
            <th colspan="2">EXTRA POINTS</th>
        </tr>
        <tr>
            <th>RK</th>
            <th><a>TEAM</a></th>
            <th><a>FGM</a></th>
            <th><a>FGA</a></th>
            <th><a>PCT</a></th>
            <th><a>XPM</a></th>
            <th><a>XPA</a></th>
            <th><a>PCT</a></th>
            
        </tr>
    </thead>
    <tbody>
        {% for t in teamseason %}
        <tr>
            <td></td>
            <td>{{ t.Team }}</td>
            <td>{{ t.FieldGoalsMade }}</td>
            <td>{{ t.FieldGoalAttempts }}</td>
            <td>{{ t.FieldGoalPercentage }}</td>
            <td>{{ t.ExtraPointKickingConversions }}</td>
            <td>{{ t.ExtraPointKickingAttempts }}</td>
            <td>{{ t.ExtraPointPercentage }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>