<table id="special_returns_season_stats" class="table table-striped table-condensed table-bordered display" cellspacing="0" width="100%">
    <thead>       
        <tr>
            <th colspan="2"></th>
            <th colspan="5">Kickoffs</th>
            <th colspan="5">Punts</th>
        </tr>
        <tr>
            <th>RK</th>
            <th><a>TEAM</a></th>
            <th><a>ATT</a></th>
            <th><a>YDS</a></th>
            <th><a>AVG</a></th>
            <th><a>LONG</a></th>
            <th><a>TD</a></th>
            <th><a>ATT</a></th>
            <th><a>YDS</a></th>
            <th><a>AVG</a></th>
            <th><a>LONG</a></th>
            <th><a>TD</a></th> 
        </tr>
    </thead>
    <tbody>
        {% for t in teamseason %}
        <tr>
            <td></td>
            <td>{{ t.Team }}</td>
            <td>{{ t.KickReturns }}</td>
            <td>{{ t.KickReturnYards }}</td>
            <td>{{ t.KickReturnAverage }}</td>
            <td>{{ t.KickReturnLong }}</td>
            <td>{{ t.KickReturnTouchdowns }}</td>
            <td>{{ t.PuntReturns }}</td>
            <td>{{ t.PuntReturnYards }}</td>
            <td>{{ t.PuntReturnAverage }}</td>
            <td>{{ t.PuntReturnLong }}</td>
            <td>{{ t.PuntReturnTouchdowns }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>