<table id="defense_downs_season_stats" class="table table-striped table-condensed table-bordered display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th colspan="14">NFL Team Total Defence Downs Stats</th>
        </tr>
        <tr>
            <th colspan="2"></th>
            <th colspan="4">First Downs</th>
            <th colspan="3">Thrid Downs</th>
            <th colspan="3">Fourth Downs</th>
            <th colspan="2">Penalties</th>
        </tr>
        <tr>
            <th>RK</th>
            <th><a>TEAM</a></th>
            <th><a>TOTAL</a></th>
            <th><a>RUSH</a></th>
            <th><a>PASS</a></th>
            <th><a>PEN</a></th>
            <th><a>MADE</a></th>
            <th><a>ATT</a></th>
            <th><a>PCT</a></th>
            <th><a>MADE</a></th>
            <th><a>ATT</a></th>
            <th><a>PCT</a></th>
            <th><a>TOTAL</a></th>
            <th><a>YDS</a></th>
        </tr>
    </thead>
    <tbody>
        {% for t in teamseason %}
        <tr>
            <td></td>
            <td>{{ t.Team }}</td>
            <td>{{ t.OpponentFirstDowns }}</td>
            <td>{{ t.OpponentFirstDownsByRushing }}</td>
            <td>{{ t.OpponentFirstDownsByPassing }}</td>
            <td>{{ t.OpponentFirstDownsByPenalty }}</td>
            <td>{{ t.OpponentThirdDownConversions }}</td>
            <td>{{ t.OpponentThirdDownAttempts }}</td>
            <td>{{ t.OpponentThirdDownPercentage }}</td>
            <td>{{ t.OpponentFourthDownConversions }}</td>
            <td>{{ t.OpponentFourthDownAttempts }}</td>
            <td>{{ t.OpponentFourthDownPercentage }}</td>
            <td>{{ t.OpponentPenalties }}</td>
            <td>{{ t.OpponentPenaltyYards }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>