<table id="special_punting_season_stats" class="table table-striped table-condensed table-bordered display" cellspacing="0" width="100%">
    <thead>       
        <tr>
            <th colspan="2"></th>
            <th colspan="8">Punting</th>
        </tr>
        <tr>
            <th>RK</th>
            <th><a>TEAM</a></th>
            <th><a>PUNTS</a></th>
            <th><a>YDS</a></th>
            <th><a>AVG</a></th>
            <th><a>NET</a></th>
            <th><a>BP</a></th>
            <th><a>RET</a></th>
            <th><a>RETY</a></th>
            <th><a>AVG</a></th> 
        </tr>
    </thead>
    <tbody>
        {% for t in teamseason %}
        <tr>
            <td></td>
            <td>{{ t.Team }}</td>
            <td>{{ t.Punts }}</td>
            <td>{{ t.PuntYards }}</td>
            <td>{{ t.PuntAverage }}</td>
            <td>{{ t.PuntNetYards }}</td>
            <td>{{ t.PuntsHadBlocked }}</td>
            <td>{{ t.OpponentPuntReturns }}</td>
            <td>{{ t.OpponentPuntReturnYards }}</td>
            <td>{{ t.OpponentPuntReturnAverage }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>