<table id="defense_tsif_season_stats" class="table table-striped table-condensed table-bordered display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th colspan="14">NFL Team Total Tackles Sacks Interceptions Fumbles Stats</th>
        </tr>
        <tr>
            <th colspan="2"></th>
            <th colspan="3">Tackles</th>
            <th colspan="3">Sacks</th>
            <th colspan="3">Interceptions</th>
            <th colspan="3">Fumbles</th>
        </tr>
        <tr>
            <th>RK</th>
            <th><a>TEAM</a></th>
            <th><a>SOLO</a></th>
            <th><a>AST</a></th>
            <th><a>TOTAL</a></th>
            <th><a>SACK</a></th>
            <th><a>YDSL</a></th>
            <th><a>PD</a></th>
            <th><a>INT</a></th>
            <th><a>YDS</a></th>
            <th><a>TD</a></th>
            <th><a>FF</a></th>
            <th><a>REC</a></th>
            <th><a>TD</a></th>
        </tr>
    </thead>
    <tbody>
        {% for t in teamseason %}
        <tr>
            <td></td>
            <td>{{ t.Team }}</td>
            <td>{{ t.SoloTackles }}</td>
            <td>{{ t.AssistedTackles }}</td>
            <td>{{ t.SoloTackles + t.AssistedTackles }}</td>
            <td>{{ t.Sacks }}</td>
            <td>{{ t.SackYards }}</td>
            <td>{{ t.PassesDefended }}</td>
            <td>{{ t.InterceptionReturns }}</td>
            <td>{{ t.InterceptionReturnYards }}</td>
            <td>{{ t.InterceptionReturnTouchdowns }}</td>
            <td>{{ t.FumblesForced }}</td>
            <td>{{ t.FumblesRecovered }}</td>
            <td>{{ t.FumbleReturnTouchdowns }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>