<table id="defense_season_stats" class="table table-hover tablesorter" cellspacing="1">
    <thead>
        <h3>NFL Team Total Defensive Stats</h3>
        <tr>
            <td>RK</td>
            <td><a>TEAM<i class="fa fa-fw fa-sort"></i></a></td>
            <td><a>YDS<i class="fa fa-fw fa-sort"></i></a></td>
            <td><a>YDS/G<i class="fa fa-fw fa-sort"></i></a></td>
            <td><a>PASS<i class="fa fa-fw fa-sort"></i></a></td>
            <td><a>P YDS/G<i class="fa fa-fw fa-sort"></i></a></td>
            <td><a>RUSH<i class="fa fa-fw fa-sort"></i></a></td>
            <td><a>R YDS/G<i class="fa fa-fw fa-sort"></i></a></td>
            <td><a>PTS<i class="fa fa-fw fa-sort"></i></a></td>
            <td><a>PTS/G<i class="fa fa-fw fa-sort"></i></a></td>
        </tr>
    </thead>
    <tbody>
        {% for t in teamseason %}
        <tr>
            <td></td>
            <td>{{ t.Team }}</td>
            <td>{{ t.OpponentOffensiveYards }}</td>
            <td>{{ t.opponent_offensive_yards_per_game }}</td>
            <td>{{ t.OpponentPassingYards }}</td>
            <td>{{ t.opponent_passing_per_game }}</td>
            <td>{{ t.OpponentRushingYards }}</td>
            <td>{{ t.opponent_rushing_yards_per_game }}</td>
            <td>{{ t.OpponentScore }}</td>
            <td>{{ t.opponent_score_per_game }}</td>
        </tr>
            
        {% endfor %}
    </tbody>
</table>