
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats_table_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_security_style.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/nfl_board.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/moble_under_768.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>{% block style %}{% endblock %}</style>
  </head>
  <body>
    {% include "nav.html" %}
    {% include "flash_messages.html" %}
    {% block content %}
    {% endblock content %}

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.17.4/js/jquery.tablesorter.min.js"></script>
    <script src="/static/js/tablesorter.pager.js"></script>
    <script src="/static/js/create_bet_tabs.js"></script>
    <script src="/static/js/select_team.js"></script>
    <script src="/static/js/nfl_team_stats_tabs.js"></script>
    <script src="/static/js/nav_dropdown.js"></script>
    <script src="/static/js/validate_register.js"></script>
    <script src="/static/js/all_tablesortings.js"></script>
    <script src="/static/js/validate_login.js"></script>
    <script src="/static/js/jquery.qrcode.min.js"></script>

    <script>
    // prevents tabs in stats from jumping down
    $('.nav-tabs li a').click( function(e) {
    history.pushState( null, null, $(this).attr('href') );
    });
    </script>
    <script>
   
    
$('#qrcode').qrcode({width: 64,height: 64,text: "size doesn't matter"});
   
    </script>
    {% include "footer.html" %}
  </body>
</html>