{% extends "base.html" %}
{% block title %}How-to-Play{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>How To Play</h3>
            <ul class="list-group">
              <li class="list-group-item">Signup for an account</li>
              <li class="list-group-item">Confirm your account by clicking on confirmation email</li>
              <li class="list-group-item">Go to profile page and click create bitcoin wallet</li>
              <li class="list-group-item">Fund your account with <b><u>Test Bitcoin</u></b> <b><a href="http://tpfaucet.appspot.com/">here</a></b></li>
              <li class="list-group-item">Go to board or odds to create a bet or take one that is already there</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}