<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('nfl.nfl_odds') }}">Peer2Peer</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a>NFL Teams<b class="caret"></b></a>
          {% include "dropdown_menu_teams.html" %}
        </li>
          {#<li><a href="{{ url_for('nfl.nfl_home') }}">NFL Home</a></li>#}
          <li class="vert-align"><a href="{{ url_for('nfl.nfl_standings') }}">Standings</a></li>
          <li class="vert-align"><a href="{{ url_for('nfl.nfl_stats', sid=1) }}">Stats</a></li>
        {% if current_user.is_active %}
          {% if current_user.bitcoin_wallet == None %}
            <li><a href="{{ url_for('home.profile') }}">Create Bitcoin Wallet</a></li>
            {% else %}
            {#<li><a href="{{ url_for('home.profile') }}">{{ current_user.bitcoin_wallet.available_btc }} BTC</a></li>#}
            {#<li><a href="{{ url_for('home.profile') }}">({{ current_user.profile.pending }} Pending BTC)</a></li>#}
          {% endif %}
          <li>
            <div class="dropdown nav_pic">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img class="navpic" src="{{ current_user.profile.imgsrc|resize('20x20', fill=1, format='jpg', bgcolor='#333333', quality=100, placeholder=True)  }}">
              <span class="caret"></span></button>
                <ul class="dropdown-menu nav_pic_menu">
                  <li class="center_dropdown_img"><img class="img_dropdown" src="{{ current_user.profile.imgsrc|resize('50x50', fill=1, format='jpg', bgcolor='#333333', quality=100, placeholder=True)  }}"></li>
                  <li class="center_dropdown_img"><a class="nav_name_dropdown text-center">{{ current_user.username }}</a></li>
                  <hr style="margin-top:0">
                  {% if current_user.bitcoin_wallet %}
                    <li><a href="#"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;({{ current_user.profile.pending }} Pending BTC)</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{ current_user.bitcoin_wallet.available_btc }}</a></li>
                  {% endif %}
                  <li><a href="{{ url_for('home.profile') }}"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;Profile</a></li>
                  <li><a href="{{ url_for('users.logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;logout</a></li>
                </ul>
            </div>
          </li>
        {% else %} 
          <li><a href="{{ url_for('users.login') }}">login</a></li>
          <li><a href="{{ url_for('users.register') }}">register</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ url_for('nfl.nfl_odds') }}">Odds</a></li>
        <li><a href="{{ url_for('nfl.nfl_public_board') }}">Board</a></li>
        <li><a href="{{ url_for('home.faq') }}">FAQ</a></li>
        <li><a href="{{ url_for('home.contact_us') }}">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>