{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
Profile page <br>
{{ user.id }}<br>
{{ user.username }}<br>
{{ user.email }}<br>
{{ user.profile.avatar }}<br>

<h4>site privileges</h4> 
{% for role in user.roles %}
    {{ role.name }}<br>
{% endfor %}

<h4>Pending Bets</h4>
{% if pending_bets %}
    {% for bets in pending_bets %}
        {% if bets.user_id == current_user.id %}
            user_id of creator of bet: {{ bets.user_id }}<br>
            {{ bets.game_key }}<br>
            {{ bets.bet_key }}<br>
            {{ bets.vs }}<br>
            {{ bets.total }}<br>
            {{ bets.over_under }}<br>
            creator team: {{ bets.team }}<br>
            creator ps: {{ bets.ps }}<br>
            {{ bets.bet_taken }}<br>
            bet taken by: {{ bets.taken_by }}{{ bets.nfl_take_bet.users.username }}<br>
            amount: {{ bets.amount }}<br><br><hr>
        {% elif bets.taken_by == current_user.id %}
            {{ bets.nfl_take_bet.game_key }}<br>
            {{ bets.nfl_take_bet.bet_key }}<br>
            {{ bets.nfl_take_bet.total }}<br>
            {{ bets.nfl_take_bet.over_under }}<br>
            {{ bets.nfl_take_bet.ps }}<br>
            {{ bets.nfl_take_bet.team }}<br>
            {{ bets.amount }}<br>
            {{ bets.nfl_take_bet.users.username }}<br><br><hr>
        {% endif %}
    {% endfor %}
{% else %}
<p>No pending bets at this time</p>
{% endif %}

{% endblock %}