{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block style %}
.strength-meter {
    width: 100%;
  }
span.error, span {
  color: #a94442;
}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% from "security/_macros.html" import render_field_with_errors, render_field %}
            {% include "security/_messages.html" %}
            <h1>Reset password</h1>
            <form id="resetForm" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
              {{ reset_password_form.hidden_tag() }}
              <div class="form-group">
                 {{ render_field_with_errors(reset_password_form.password, class="form-control input-lg", placeholder="password...", **{'data-validation':'strength','data-validation-strength':'2', 'data-validation':'length', 'data-validation-length': 'min6'}) }}
              </div>
              <div class="form-group">
                 {{ render_field_with_errors(reset_password_form.password_confirm, class="form-control input-lg", placeholder="confirm password...", **{'data-validation': 'confirmation', 'data-validation-confirm':'password'}) }}
              </div>
              <div class="form-group">
                {{ render_field(reset_password_form.submit, class="btn btn-default") }}
              </div>
            </form>
            {% include "security/_menu.html" %}
        </div>
    </div>
</div>
{% endblock %}