<h4><u>Graded Bets</u></h4>
{% if graded_sb or graded_ou or graded_ml %}
<table id="graded_bets_table" class="table table-striped table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th colspan="10" class="text-center"><small class="text-muted">table is sortable&nbsp;&nbsp;(click on headers)</small></th>
        </tr>
        <tr>
            <th>Game Key</th>
            <th>Bet Key</th>
            <th>Game Date</th>
            <th>VS</th>
            <th>Bet</th>
            <th>Opponent</th>
            <th>Risk / Win</th>
            <th>Result</th>
            <th>W/L</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>

    {% for b in graded_ou %}
        {% if b.user_id == current_user.id %}
        <tr>
            <td>{{ b.game_key }}</td>
            <td>{{ b.bet_key }}</td>
            <td>{{ b.game_date | day_first }}</td>
            <td>{{ b.vs }}</td>
            <td>{{ b.over_under }}{{ b.total_format }}</td>
            <td>{{ b.taken_username }}</td>
            <td>{{ b.amount }} / {{ b.amount_win }}</td>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <td>{{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}</td>
                {% endif %}
            {% endfor %}
            {% if b.win==True %}
                <td><span class="label label-success" style="display:inline-block; width:45px">Win </span></td> 
                <td>+{{ b.amount_win }}</td>
            {% elif b.win == False %}
                <td><span class="label label-danger" style="display:inline-block; width:45px">Lose </span></td> 
                <td>-{{ b.amount }}{% endif %}</td>
        </tr>
        {% elif b.taken_by == current_user.id %}
        <tr>
            <td>{{ b.game_key }}</td>
            <td>{{ b.bet_key }}</td>
            <td>{{ b.game_date | day_first }}</td>
            <td>{{ b.vs }}</td>
            <td>{{ b.opposite_over_under }}{{ b.total_format }}</td>
            <td>{{ b.users.username }}</td>
            <td>{{ b.amount }} / {{ b.amount_win }}</td>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <td>{{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}</td>
                {% endif %}
            {% endfor %}
            {% if b.win == False %}
                <td><span class="label label-success" style="display:inline-block; width:45px">Win </span></td> 
                <td>+{{ b.amount_win }}</td>
            {% elif b.win == True %}
                <td><span class="label label-danger" style="display:inline-block; width:45px">Lose </span></td>
                <td>-{{ b.amount }}{% endif %}</td>
        </tr>
        {% endif %}
    {% endfor %}
    {% for b in graded_sb %}
        {% if b.user_id == current_user.id %}
        <tr>
            <td>{{ b.game_key }}</td> 
            <td>{{ b.bet_key }}</td>
            <td>{{ b.game_date | day_first }}</td>
            <td>{{ b.vs }}</td>
            <td>{{ b.team }}{{ b.ps_format }}</td>
            <td>{{ b.taken_username }}</td>
            <td>{{ b.amount }} / {{ b.amount_win }}</td>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <td>{{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}</td>
                {% endif %}
            {% endfor %}
            {% if b.win==True %}
                <td><span class="label label-success" style="display:inline-block; width:45px">Win </span></td>
                <td>+{{ b.amount_win }}</td>
            {% elif b.win == False %}
                <td><span class="label label-danger" style="display:inline-block; width:45px">Lose </span></td>
                <td>-{{ b.amount }}{% elif b.win == None %}Push{% endif %}</td>
        </tr>
        {% elif b.taken_by == current_user.id %}
        <tr>
            <td>{{ b.game_key }}</td>
            <td>{{ b.bet_key }}</td>
            <td>{{ b.game_date | day_first }}</td>
            <td>{{ b.vs }}</td>
            <td>{{ b.opposite_team }} {{ b.opposite_ps }}</td>
            <td>{{ b.users.username }}</td>
            <td>{{ b.amount }} / {{ b.amount_win }}</td>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <td>{{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}</td>
                {% endif %}
            {% endfor %}
            {% if b.win == False %}
                <td><span class="label label-success" style="display:inline-block; width:45px">Win </span></td>
                <td>+{{ b.amount_win }}</td>
            {% elif b.win == True %}
                <td><span class="label label-danger" style="display:inline-block; width:45px">Lose </span></td>
                <td>-{{ b.amount }}{% endif %}</td>
        </tr>
        {% endif %}
    {% endfor %}
    {% for b in graded_ml %}
        {% if b.user_id == current_user.id %}
        <tr>
            <td>{{ b.game_key }}</td> 
            <td>{{ b.bet_key }}</td>
            <td>{{ b.game_date | day_first }}</td>
            <td>{{ b.vs }}</td>
            <td>{{ b.team }} {{ b.ml }}</td>
            <td>{{ b.taken_username }}</td>
            <td>{{ b.amount }} / {{ b.ml_win }}</td>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <td>{{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}</td>
                {% endif %}
            {% endfor %}
            {% if b.win==True %}
                <td><span class="label label-success" style="display:inline-block; width:45px">Win </span></td>
                <td>+{{ b.ml_win }}</td>
            {% elif b.win == False %}
                <td><span class="label label-danger" style="display:inline-block; width:45px">Lose </span></td>
                <td>-{{ b.amount }}{% endif %}</td>
        </tr>
        {% elif b.taken_by == current_user.id %}
        <tr>
            <td>{{ b.game_key }}</td> 
            <td>{{ b.bet_key }}</td>
            <td>{{ b.game_date | day_first }}</td>
            <td>{{ b.vs }}</td>
            <td>{{ b.opposite_team }} {{ b.opposite_ml }}</td>
            <td>{{ b.users.username }}</td>
            <td>{{ b.amount }} / {{ b.ml_win }}</td>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <td>{{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}</td>
                {% endif %}
            {% endfor %}
            {% if b.win == False %}
                <td><span class="label label-success" style="display:inline-block; width:45px">Win </span></td>
                <td>+{{ b.ml_win }}</td>
            {% elif b.win == True %}
                <td><span class="label label-danger" style="display:inline-block; width:45px">Lose </span></td>
                <td>-{{ b.amount }}{% endif %}</td>
        </tr>
        {% endif %}
    {% endfor %}
     </tbody>
</table>
{% else %}
    <p>No graded bets at this time</p>
{% endif %}
