<h4><u>Graded Bets</u></h4>
{% if graded_sb or graded_ou or graded_ml %}
    {% for b in graded_ou %}
        {% if b.user_id == current_user.id %}
            <b>Game Key: </b>{{ b.game_key }}<br>
            <b>Bet Key: </b>{{ b.bet_key }}<br>
            <b>Game Date: </b>{{ b.game_date }}<br>
            {{ b.vs }}<br>
            {{ b.over_under }}{{ b.total_format }}<br>
            <b>You: </b> {{ b.users.username }}<br>
            <b>vs: </b>{{ b.taken_by }}{{ b.taken_username }}<br>
            <b>risk: </b>{{ b.amount }} / <b>win: </b>{{ b.amount_win }}<br>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <b>Result:</b> {{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}<br>
                {% endif %}
            {% endfor %}
            {% if b.win==True %}<span class="label label-success">Win </span> +{{ b.amount_win }}{% elif b.win == False %}<span class="label label-danger">Lose </span> -{{ b.amount }}{% endif %}<hr>
        {% elif b.taken_by == current_user.id %}
            <b>Game Key: </b>{{ b.game_key }}<br>
            <b>Bet Key: </b>{{ b.bet_key }}<br>
            <b>Game Date: </b>{{ b.game_date }}<br>
            {{ b.vs }}<br>
            {{ b.opposite_over_under }}{{ b.total_format }}<br>
            <b>Bet Taker: </b>{{ b.taken_by }}{{ b.taken_username }}<br>
            <b>opponent:  </b>{{ b.users.username }}<br>
            <b>risk: </b>{{ b.amount }} / <b>win: </b>{{ b.amount_win }}<br>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <b>Result:</b> {{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}<br>
                {% endif %}
            {% endfor %}
            {% if b.win == False %}<span class="label label-success">Win </span> +{{ b.amount_win }}{% elif b.win == True %}<span class="label label-danger">Lose </span> -{{ b.amount }}{% endif %}<hr>
        {% endif %}
    {% endfor %}
    {% for b in graded_sb %}
        {% if b.user_id == current_user.id %}
            <b>Game Key: </b>{{ b.game_key }}<br> 
            <b>Bet Key: </b>{{ b.bet_key }}<br>
            <b>Game Date: </b>{{ b.game_date }}<br>
            {{ b.vs }}<br>
            {{ b.team }}{{ b.ps_format }}<br>
            <b>You: </b> {{ b.users.username }}<br>
            <b>vs: </b>{{ b.taken_by }}{{ b.taken_username }}<br>
            <b>risk: </b>{{ b.amount }} / <b>win: </b>{{ b.amount_win }}<br>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <b>Result:</b> {{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}<br>
                {% endif %}
            {% endfor %}
            {% if b.win==True %}<span class="label label-success">Win </span> +{{ b.amount_win }}{% elif b.win == False %}<span class="label label-danger">Lose </span> -{{ b.amount }}{% elif b.win == None %}Push{% endif %}<hr>
        {% elif b.taken_by == current_user.id %}
            <b>Game Key: </b>{{ b.game_key }}<br>
            <b>Bet Key: </b>{{ b.bet_key }}<br>
            <b>Game Date: </b>{{ b.game_date }}<br>
            {{ b.vs }}<br>
            {{ b.opposite_team }} {{ b.opposite_ps }}<br>
            <b>You: </b>{{ b.taken_by }}{{ b.taken_username }}<br>
            <b>vs:  </b>{{ b.users.username }}<br>
            <b>risk: </b>{{ b.amount }} / <b>win: </b>{{ b.amount_win }}<br>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <b>Result:</b> {{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}<br>
                {% endif %}
            {% endfor %}
            {% if b.win == False %}<span class="label label-success">Win </span> +{{ b.amount_win }}{% elif b.win == True %}<span class="label label-danger">Lose </span> -{{ b.amount }}{% endif %}<hr>
        {% endif %}
    {% endfor %}
    {% for b in graded_ml %}
        {% if b.user_id == current_user.id %}
            <b>Game Key: </b>{{ b.game_key }}<br> 
            <b>Bet Key: </b>{{ b.bet_key }}<br>
            <b>Game Date: </b>{{ b.game_date }}<br>
            {{ b.vs }}<br>
            {{ b.team }} {{ b.ml }}<br>
            <b>You: </b> {{ b.users.username }}<br>
            <b>vs: </b>{{ b.taken_by }}{{ b.taken_username }}<br>
            <b>risk: </b>{{ b.amount }} / <b>win: </b>{{ b.ml_win }}<br>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <b>Result:</b> {{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}<br>
                {% endif %}
            {% endfor %}
            {% if b.win==True %}<span class="label label-success">Win </span>+{{ b.ml_win }}{% elif b.win == False %}<span class="label label-danger">Lose </span> -{{ b.amount }}{% endif %}<hr>
        {% elif b.taken_by == current_user.id %}
            <b>Game Key: </b>{{ b.game_key }}<br> 
            <b>Bet Key: </b>{{ b.bet_key }}<br>
            <b>Game Date: </b>{{ b.game_date }}<br>
            {{ b.vs }}<br>
            {{ b.opposite_team }} {{ b.opposite_ml }}<br>
            <b>You: </b>{{ b.taken_by }}{{ b.taken_username }}<br>
            <b>vs:  </b>{{ b.users.username }}<br>
            <b>risk: </b>{{ b.amount }} / <b>win: </b>{{ b.ml_win }}<br>
            {% for g in graded_bets %}
                {% if g.game_key == b.game_key %}
            <b>Result:</b> {{ g.away_team }} {{ g.away_score }} <b>-</b> {{ g.home_team }} {{ g.home_score }}<br>
                {% endif %}
            {% endfor %}
            {% if b.win == False %}<span class="label label-success">Win </span>+{{ b.ml_win }}{% elif b.win == True %}<span class="label label-danger">Lose </span>-{{ b.amount }}{% endif %}<hr>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No graded bets at this time</p>
{% endif %}