nav {
    background-color: #2780e3;
    color: #fff;
}
.navbar {
    min-height:0px !important;
}
.navbar-nav > li > a,
a.navbar-brand {
    padding-top:10px !important; 
    padding-bottom:10px !important;
}
/*nav.navbar {
    height: 43px;
}*/
nav a {
    display: block;
    margin: auto auto;
    color: #FFF;
    text-transform: capitalize;
    font-size: .8em;
}
a.navbar-brand {
    color: #fff;
}
li.text-muted, li.pull-right {
    list-style: none;
}
.strength-meter {
    width: 100%;
}
span.error, span {
  color: #a94442;
}
div.profileborder {
    border: .8px solid #ddd;
    padding: 10px;
}