/* Note: Design for a width of 768px */
@media screen and (max-width: 768px) {
    th.pct,th.pf,th.pa,th.net_pts,th.td,
    td.pct,td.pf,td.pa,td.net_pts,td.td{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    } 
    span.icon-bar {
        background-color: #fff;
    }
    h2.nav__league, 
    h3.nav__division, 
    li.nav__team a, 
    h3 .nav__team {
        color: #fff;
    }

    #navbar ul.nav.navbar-nav.navbar-right li.dropdown a,
    #navbar ul.nav.navbar-nav.navbar-right li.vert-align a, 
    div#navbar.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-left li a,
    div#navbar.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-right li a {
        border-bottom: .08em solid #fff;
    }
    div.modal-body {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
    }
    #bet_tabs {
        display: block;
        margin-left: 15px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .mobile_schedule_head {
        text-align: center;
    }
    table.dataTable thead th, 
    table.dataTable thead td {
        padding: 10px 3px !important;
    }
    #public__board thead tr th a,
    #public__board tbody tr td.vert-align {
        font-size: 12px;
    }
    div.delete_item {
        text-align: center;
    }
    form.form_float {
        width: 100%;
        margin: 0 auto;
    }
    h4.vs_bet {
        text-align: center;
    }
    span.glyphicon.glyphicon-transfer.text-muted {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg); /* Standard syntax */
    }
    .vs {
        margin-top:10px;
    }
}