/* Note: Design for a width of 768px */
@media screen and (max-width: 768px) {
    th.pct,th.pf,th.pa,th.net_pts,th.td,
    td.pct,td.pf,td.pa,td.net_pts,td.td{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    } 
    span.icon-bar {
        background-color: #fff;
    }
    h2.nav__league, 
    h3.nav__division, 
    li.nav__team a, 
    h3 .nav__team {
        color: #fff;
    }
    div#navbar.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-left li a {
        border-bottom: .08em solid #fff;
    }
    div.modal-body {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
    }
    #bet_tabs {
        display: block;
        margin-left: 15px;
    }
}