nav {
    background-color: #2780e3;
    color: #fff;
}
nav a {
    color: #FFF;
    text-transform: uppercase;
    font-size: .8em;
}
a.navbar-brand {
    color: #fff;
}
h2.nav__league, h3.nav__division, 
li.nav__team a, h3 .nav__team {
    color: #2780e3;
}
h3.nav__division {
    text-decoration: underline;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu, a.dropdown-toggle {
    display:table; 
    width: 100%;
    height: 750px;
    text-align: center; 
    left:0; 
    right:0;
}
.dropdown-menu>li {
    display: table-cell;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;/* // remove the gap so it doesn't close*/
 }

 button.btn.btn-primary.dropdown-toggle {
    padding-top: 4px;
 }
 .navpic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #2780e3;
 }


div.dropdown.nav_pic > ul > li {
    position: relative;
    display: inline-block;
}
ul.dropdown-menu.nav_pic_menu {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.7);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 2px;
}

.dropdown-menu > li > a {
    padding: 3px 20px 3px 10px;
}
ul.dropdown-menu.nav_pic_menu > li > a {
    color: rgba(255,255,255,1);
}
.dropdown-menu > li > a.nav_name_dropdown {
    font-size: 1.8em;
    padding-left: 5px;
    margin-left: 5px;
}
