nav {
    background-color: #2780e3;
    color: #fff;
}
/*nav.navbar {
    height: 43px;
}*/
nav a {
    display: block;
    margin: auto auto;
    color: #FFF;
    text-transform: capitalize;
    font-size: .8em;
}
a.navbar-brand {
    color: #fff;
}
h2.nav__league, h3.nav__division, 
li.nav__team a, h3 .nav__team {
    color: #2780e3;
}
h3.nav__division {
    text-decoration: underline;
}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu, a.dropdown-toggle {
    display:table; 
    width: 100%;
    height: 750px;
    text-align: center; 
    left:0; 
    right:0;
}
.dropdown-menu>li {
    display: table-cell;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
 
 button.btn.btn-primary.dropdown-toggle {
    padding-top: 8px !important;
    padding-bottom: 12px !important;
    height: 42px;
    margin-top: 5px;
 }
 .navpic {
    border-radius: 5%;
    border: 3px solid #2780e3;
 }
div.dropdown.nav_pic > ul > li {
    position: relative;
    display: inline-block;
}
ul.dropdown-menu.nav_pic_menu {
    display: none;
    position: absolute;
    top: 53px;
    background-color: rgba(0,0,0,.7);
    min-width: 130px;
    border: .07em solid rgba(0,0,0,.9);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 2px;
}
.dropdown-menu > li > a {
    padding: 3px 20px 3px 10px;
}
ul.dropdown-menu.nav_pic_menu > li > a {
    color: rgba(255,255,255,1);
}
.dropdown-menu > li > a.nav_name_dropdown {
    font-size: 1.4em;
    padding-left: 5px;
    margin-left: 5px;
}
ul.dropdown-menu.nav_pic_menu:before {
  position: absolute;
  top: -5px;
  left: 110px; 
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

ul.dropdown-menu.nav_pic_menu:after {
  position: absolute;
  top: -6px;
  left: 110px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0,0,0,.7);
  border-left: 6px solid transparent;
  content: '';
}
ul li div button img.navpic{
    display: block;
    float: left;
    text-align: center;
}
.center_dropdown_img {
    display: block !important;
    margin: 0 auto !important;
}
img.img_dropdown {
     border-radius: 5%;
     border: .07em solid rgba(255,255,255,.7); 
     display:block;
     margin:0 auto;
}
div#navbar.navbar-collapse.collapse.in {
  text-align: center;    
}