.dataTables_wrapper, .dataTables_paginate, .paginate_button {
    border: none !important;
    padding: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
}
table.dataTable thead .sorting_asc {
    background-image: none !important;
    background-image: url("/static/img/arrows/icon-arrow-up-18.png") !important;
}
table.dataTable thead .sorting_desc {
    background-image: none !important;
    background-image: url("/static/img/arrows/icon-arrow-down-18.png") !important;
}
thead.thead {
    background-color: #2780e3;
    color: #fff;
}
tbody.tbody {
    background-color: #fff;
}
tr {
    margin: 5px 0 5px 0;
}
div#pager.pager {
    top:0 !important;
    position: relative !important;
}
.pagedisplay {
    width: 90px;
    text-align: center;
    border-color: #2780e3;
    margin-left: 10px;
    margin-right: 10px;
}
td.vert-align.sorting_1 {
    vertical-align: middle !important;
}
td.vert-align {
    vertical-align: middle !important;
}