html,body {
    /*font-family: 'Roboto', sans-serif;*/
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}
body {
    background: #f0f3f8;
}
/* ------- public board table --------*/
.middlerow { 
     /*border-top: none !important; */
 }
 #bet_tabs li a, a {
    text-decoration: none !important;
 }
 a.btn.btn-success {
    margin-top: 30px;
    margin-bottom:30px;
 }
 p.pboard {
    margin-top: 16px;
    padding-top: 10px;
    font-size: 1em;
    line-height: .2em;
    letter-spacing: 1px;
 }
 p.bottom_pboard {
    margin-top:12px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    line-height: .2em;
    letter-spacing: 1px;
 }
 p.reg_pboard {
    margin-top: 16px;
    padding-top: 10px;
    font-size: 1em;
    line-height: .2em;
    letter-spacing: 1px;
 }
i {
    color: #2780e3;
}
.odds_create_button {
    vertical-align: middle !important;
    text-align: center !important;
}
/* --------- CREATE-A-BET ---------- */
div.createbet {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 3px 3px 3px #9D9D9D;
    min-height: 400px;
}
div.public__board__border {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #9D9D9D;
}
ul#over_under > li {
    display: inline;
    list-style: none;
    padding-right: 15px;
}
ul#over_under {
    padding-left: 0px;
}
.bg-danger {
    color: #fff;
    text-align: center;
}
/* ----  tool-tip ---- */
.popover {
    border: 2px solid #fff;
}
.popover-content {
    background-color: #fff;
    color: black;
    opacity: .8;
}
.popover.top > .arrow:after { border-top-color: #fff; }
.popover > .arrow { border-bottom-color: #fff;}

/* -- Edit bet */
/*div.thumbnail.editbet {
 padding: 20px;
 box-shadow: 3px 3px 3px #9D9D9D;
}*/
span.error {
 background-color: red;
 color: white;
 width: 100%;
 display: block;
 text-align: center;
}
/* confirm bet */
div.thumbnail.editbet, .confirmbet {
 background-color: #fff;
 border: 1px solid #ddd;
 padding: 20px;
 box-shadow: 3px 3px 3px #9D9D9D;
}
.editbet_buttons {
    min-width: 130px;
    max-width: 130px;
}
.editbet_border_top {
    padding-top:0;
}
.delete_item {
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5px;
}
/* nfl standing page */
div.nfl_standing_table {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #9D9D9D;
    padding: 10px 0 0 20px;
}
/* team page */
div.col-md-12.tabbable {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px
}
ul.nav.nav-tabs.team_stats_nav-tabs {
    border-bottom: none !important;
    margin-bottom: 10px;
}
.nav-tabs.team_stats_nav-tabs > li > a:hover,
.nav-tabs.team_stats_nav-tabs > li > a:active,
.nav-tabs.team_stats_nav-tabs > li.active > a {
    background-color: transparent;
    border: transparent;
    border-bottom: 3px solid #2780e3;
    padding-bottom: 4px;
    color: #2780e3 !important;
}
.nav-tabs.team_stats_nav-tabs > li > a {
    color: #9D9D9D;
}
#bet_tabs  {
    display: flex;
}
#bet_tabs li {
    flex: 1;
    text-align: center;
}
/* modal */
.modal-header {
    background-color: black;
    opacity: .8;
    color: #fff; 
}
.modal .close {
    color: #fff;
}
.modal-body {
    padding-left:45px;
    margin-left: 15px;
}
/* vs page */
.cancel-div {
    margin-top: 10px;
}
.cancel-btn {
    color: grey;
    font-size: 1.2em;
    
}