{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="profileborder">
                {% if current_user.profile.avatar %}
                    <img class="profilepic" src="{{ current_user.profile.imgsrc| resize('150x150', fill=1, bgcolor='#333') }}"/>
                {% else %}
                    <img class="profilepic" src="{{ url_for('static', filename='img/user.jpg') }}" width="150"/>
                {% endif %}
                <div class="caption">
                    <p class="text-center">{{ dt|game_date }}</p>
                    <hr class="profileme">
                    <p class="p__status"><span class="glyphicon glyphicon-user text-muted" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ current_user.username }}</p>
                    <p class="p__status"><span class="glyphicon glyphicon-envelope text-muted" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ current_user.email }}</p>
                    <p class="p__status"><span class="glyphicon glyphicon-time text-muted" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Joined on {{ current_user.date_created|game_date }}</p>
                    <p class="p__status"><span class="glyphicon glyphicon-bitcoin text-muted" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ current_user.bitcoin_wallet.available_btc }} BTC</p>
                    <p class="p__status"><b class="text-muted">W-L-T:</b>&nbsp;&nbsp;&nbsp;{{ current_user.profile.wins }}-{{ current_user.profile.losses }}-{{ current_user.profile.pushes }}</p>
                    <p class="p__status"><b class="text-muted">Bets Created:</b>&nbsp;&nbsp;&nbsp;{{ current_user.profile.bets_created }}</p>
                    <p class="p__status"><b class="text-muted">Bets Taken:</b>&nbsp;&nbsp;&nbsp;{{ current_user.profile.bets_taken }}</p>
                    <p class="p__status"><b class="text-muted">Pending Bets:</b>&nbsp;&nbsp;&nbsp;{{ num_pending }}</p>
                    <p class="p__status"><b class="text-muted">Graded Bets:</b>&nbsp;&nbsp;&nbsp;{{ num_graded }}</p>
                    <p class="p__status"><b class="text-muted">Account Confirmed: </b>&nbsp;&nbsp;&nbsp;
                        {% if current_user.confirmed == False %}
                            <small class="label label-warning">{{ current_user.confirmed }}</small>
                        {% else %}
                            <small class="label label-success">{{ current_user.confirmed }}</small>
                        {% endif %}
                    <hr class="profileme">
                    <div class="profile_class_button">
                        {% if current_user.confirmed == False %}
                            {% include "profile/confirm_email_modal.html" %}
                        {% endif %}
                        {% include "profile/profile_change_password_modal.html" %}
                        <a href="{{ url_for('home.delete_user') }}" class="btn btn-danger btn-sm profile_center">Delete Account</a>
                    </div>
                </div><!-- end caption -->
            </div><!-- end profileborder -->
        </div><!-- end col-md-2 -->
        <div class="col-md-6">
            {% include "profile/update_profile_form.html" %}
        </div>
        <div class="col-md-4">
            {% include "profile/qrcodes.html" %}
            {% include "profile/btc_form.html" %}
        </div>    
    </div><!-- end row -->
    <br><br>
    <div class="row">
        <div class="col-md-12">
            {% include "profile/according.html" %}
        </div>
        <!-- <div class="col-md-12"></div> -->
    </div>
</div><!-- end container -->
{% endblock %}