{% extends "base.html" %}
{% block title %}NFL Standings{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="nfl_standing_table">
      <!-- AFC EAST -->
      <table class="table table-condensed table-responsive">
        <thead> 
          <tr>
            <th><b>AFC East</b></th> 
            {% include "nfl_standings/table_head_standing.html" %}
            {% for x in afc_east %}
          <tr>
            {% include "nfl_standings/table_standings_td.html" %}
          </tr>
            {% endfor %}
      </table>
      <!-- AFC NORTH -->
      <table class="table table-condensed table-responsive">
        <thead> 
          <tr>
            <th><b>AFC North</b></th> 
            {% include "nfl_standings/table_head_standing.html" %}
            {% for x in afc_north %}
            <tr>
              {% include "nfl_standings/table_standings_td.html" %}
            </tr>
            {% endfor %}
      </table>
      <!-- AFC SOUTH -->
      <table class="table table-condensed table-responsive">
        <thead> 
          <tr>
            <th><b>AFC South</b></th> 
            {% include "nfl_standings/table_head_standing.html" %}
            {% for x in afc_south %}
            <tr>
              {% include "nfl_standings/table_standings_td.html" %}
            </tr>
            {% endfor %}
      </table>
      <!-- AFC WEST -->
      <table class="table table-condensed table-responsive">
        <thead> 
         
          <tr>
            <th><b>AFC West</b></th> 
            {% include "nfl_standings/table_head_standing.html" %}
            {% for x in afc_west %}
            <tr>
              {% include "nfl_standings/table_standings_td.html" %}
            </tr>
            {% endfor %}
      </table>
      <!-- NFC EAST -->
      <table class="table table-condensed table-responsive">
        <thead> 
          <tr>
            <th><b>NFL East</b></th> 
            {% include "nfl_standings/table_head_standing.html" %}
            {% for x in nfc_east %}
            <tr>
              {% include "nfl_standings/table_standings_td.html" %}
            </tr>
            {% endfor %}
      </table>
      <!-- NFC NORTH -->
      <table class="table table-condensed table-responsive">
        <thead> 
          <tr>
            <th><b>NFC North</b></th> 
            {% include "nfl_standings/table_head_standing.html" %}
            {% for x in nfc_north %}
            <tr>
              {% include "nfl_standings/table_standings_td.html" %}
            </tr>
            {% endfor %}
      </table>
      <!-- NFL SOUTH -->
      <table class="table table-condensed table-responsive">
        <thead> 
          <tr>
            <th><b>NFC South</b></th> 
            {% include "nfl_standings/table_head_standing.html" %}
            {% for x in nfc_south %}
            <tr>
              {% include "nfl_standings/table_standings_td.html" %}
            </tr>
            {% endfor %}
      </table>
      <table class="table table-condensed table-responsive">
        <thead> 
          <tr>
            <th><b>NFC West</b></th> 
            {% include "nfl_standings/table_head_standing.html" %}
            {% for x in nfc_west %}
            <tr>
              {% include "nfl_standings/table_standings_td.html" %}
            </tr>
            {% endfor %}
      </table>
    </div>
    </div>
  </div>
</div>


{% endblock %}