<button type="button" class="btn btn-success" data-id="{{ nfl_game.GameKey }}" data-toggle="modal" data-target="#{{ nfl_game.GameKey }}">Create</button>
<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="{{ nfl_game.GameKey }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        {% include "create_bet/create_bet_modal_strip_down.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>