{% extends "base.html" %}
{% block title %}Delete This Bet{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail editbet">
                <h3 class="text-center">Are you sure you want to delete this bet?</h3>
                <p class="text-center">{{ nfl.bet_key }}</p>
                <p class="text-center">{{ nfl.vs }}</p>
                {% if nfl.over_under %}
                <p class="text-center"> {{ nfl.over_under }}{{ nfl.total_format }} for {{ nfl.amount }}BTC</p>
                {% endif %}
                {% if nfl.ps %}
                <p class="text-center"> {{ nfl.team }}{{ nfl.ps_format }} for {{ nfl.amount }}BTC</p>
                {% endif %}
                <p class="text-center">{{ nfl.game_date|game_date }} {{ nfl.game_date|game_time }}</p>
                <form class="text-center" method="post" action="{{ url_for('nfl.nfl_delete_bet', bet_key=nfl.bet_key) }}" onsubmit="return OverUnder(this);">
                    {{ form.csrf_token }}
                    <!-- <input class="btn btn-danger" type="submit" value="Delete Item"> -->
                    {{ form.submit_o(class="btn btn-danger", value="Delete Item") }}
                    <a class="btn btn-default" href="{{ url_for('nfl.nfl_public_board') }}">Cancel</a>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}