{% extends "base.html" %}
{% block title %}Edit This Bet{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail">
                <p class="text-center"><img src="{{ nfl_bet.users.profile.avatar }}" width="40"/> {{ nfl_bet.users.username }}</p>
                <h3 class="text-center">{{ nfl_bet.vs }}</h3>
                <p class="text-center">{{ nfl_bet.game_date|game_time }} {{ nfl_bet.game_date|game_date }}</p>

                {% if nfl_bet.over_under == "u" or nfl_bet.over_under == "o" and nfl_bet.total %}
                <form action="{{ url_for('nfl.nfl_edit_bet', bet_key=nfl_bet.bet_key) }}" method="POST">
                    {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.game_key }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.game_key.errors %}
                                    {% for error in form.game_key.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.away_(value=a_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.away_.errors %}
                                    {% for error in form.away_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.home_(value=h_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.home_.errors %}
                                    {% for error in form.home_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.over_under.label }} 
                                {{ form.over_under }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.over_under.errors %}
                                    {% for error in form.over_under.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.total.label }}
                                {{ form.total(class="form-control") }}  
                            </div>
                            <span class="error bg-danger">
                                {% if form.total.errors %}
                                    {% for error in form.total.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.amount.label }}
                                {{ form.amount(placeholder="$20.00", class="form-control")}}
                            </div>
                            <span class="error bg-danger">
                                {% if form.amount.errors %}
                                    {% for error in form.amount.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            {{ form.submit_o(value="edit") }}
                    
                </form>
                {% elif nfl_bet.ps and nfl_bet.team == nfl_bet.home_team %}
                <form action="{{ url_for('nfl.nfl_edit_bet', bet_key=nfl_bet.bet_key) }}" method="POST">
                    {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.game_key }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.game_key.errors %}
                                    {% for error in form.game_key.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.away_(value=a_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.away_.errors %}
                                    {% for error in form.away_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.home_(value=h_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.home_.errors %}
                                    {% for error in form.home_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.home_team.label }}
                                {{ form.home_team(id="home_team", class="form-control", readonly=True) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.home_team.errors %}
                                    {% for error in form.home_team.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                 {{ form.point_spread.label }}
                                 {{ form.point_spread(class="form-control", type="number", min="-14", max="14", step="0.5", value=nfl_bet.ps) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.point_spread.errors %}
                                    {% for error in form.point_spread.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.amount.label }}
                                {{ form.amount(id="amount", placeholder="$20.00", class="form-control")}}
                            </div>
                            <span class="error bg-danger">
                                {% if form.amount.errors %}
                                    {% for error in form.amount.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            {{ form.submit_h(value="edit") }}
                </form>
                {% elif nfl_bet.ps and nfl_bet.team == nfl_bet.away_team %}
                <form action="{{ url_for('nfl.nfl_edit_bet', bet_key=nfl_bet.bet_key) }}" method="POST">
                     {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.game_key }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.game_key.errors %}
                                    {% for error in form.game_key.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.away_(value=a_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.away_.errors %}
                                    {% for error in form.away_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.home_(value=h_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.home_.errors %}
                                    {% for error in form.home_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.away_team.label }}
                                {{ form.away_team(id="away_team", class="form-control", readonly=True) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form.away_team.errors %}
                                    {% for error in form.away_team.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                             {{ form.point_spread.label }}
                             {{ form.point_spread(id="away_ps",class="form-control", value=nfl_bet.ps, type="number", min="-14", max="14", step="0.5") }}    
                            </div>
                            <span class="error bg-danger">
                                {% if form.point_spread.errors %}
                                    {% for error in form.point_spread.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form.amount.label }}
                                {{ form.amount(id="amount", placeholder="$20.00", class="form-control")}}
                            </div>
                            <span class="error bg-danger">
                                {% if form.amount.errors %}
                                    {% for error in form.amount.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            {{ form.submit_a }}
                </form>
                {% endif %}
                
                
            </div>
        </div>
    </div>
</div>
{% endblock %}