{% extends "base.html" %}

{% block title %}NFL schedule{% endblock title %}
{% block style %}
.button {
    border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 4px;
  border-color : #000000
}
.middlerow { 
     border-top: none !important; 
 }
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-border">
                <thead class="thead-inverse"> 
                    <tr> 
                        <th>Date Week: 3</th>  
                        <th>Game Number</th> 
                        <th>Game</th>
                        <th>Spread</th>
                        <th>ML</th>
                        <th>Bet</th>
                    </tr>
                </thead> 
                <tbody>
                {% for d in data %}
                    {% if d.d_date > dt %}
                    <tr>
                        <td rowspan="2">{{ d.Date|dateify|game_time }}<br>{{ d.Date|dateify|game_date }}</td>
                        <td rowspan="2">{{ d.GameKey }}</td>
                        <td>{{ d.AwayTeam }}</td>
                        {% if d.PointSpread > 0 %}
                            <td>{{ d.away_pointspread }}</td>
                        {% elif d.PointSpread == 0.0 %}
                            <td>{{ d.OverUnder_ }}</td>
                        {% else %}
                            <td>{{ d.OverUnder_ }}</td>
                        {% endif %}
                        <td>{{ d.away_ml }}</td>
                        <td><a class="board button" href="{{ url_for('nfl.nfl_public_board') }}">Board</a></td>
                    </tr>
                    <tr>
                        <td class="middlerow">{{ d.HomeTeam }}</td>
                         {% if d.PointSpread > 0 %}
                            <td class="middlerow">{{ d.OverUnder_ }}</td>
                        {% elif d.PointSpread == 0.0 %}
                            <td class="middlerow">{{ d.even_pointspread }}</td>
                        {% else %}
                            <td class="middlerow">{{ d.home_pointspread }}</td>
                        {% endif %}
                        <td class="middlerow">{{ d.home_ml }}</td>
                        <td class="middlerow"><a class="create button" href="{{ url_for('nfl.nfl_create_bet', game_key=d.GameKey) }}">Create</a>
                    </tr>

                     {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}