{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Create-A-Bet</h1>
            1. First Pick a Team<br>
            2. Pick a bet type (ml, spread, total)<br>
            3. Pick a dollar amount <br>
            4. Change spreads as u see fit<br>
            5. Check to make sure its what u want<br>
            6. Creat bet
            
                <div class="form-group">
                    <h5 class="pull-right">
                        game is played on <br>
                        {{ nfl_game.Date }}</h5>
                    <h2>{{ nfl_game.HomeTeam }} <small>vs</small> {{ nfl_game.AwayTeam }}</h2>
                    <h4>{{ nfl_game.GameKey }}</h4> 
                    <!-- Nav tabs -->
                      <ul class="nav nav-tabs" id="bet_tabs">
                        <li><a href="#home" data-toggle="tab">Home</a></li>
                        <li><a href="#away" data-toggle="tab">Away</a></li>
                        <li><a href="#totals" data-toggle="tab">Over/Under</a></li>
                      </ul>
                </div>
                <!-- <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="home">
                        <form id="form-home" method="POST" action="{{ url_for('nfl.nfl_create_bet', game_key=nfl_game.GameKey) }}">
                            {{ form_h.csrf_token }}
                            <div class="form-group">
                                {{ form_h.game_key(value=nfl_game.GameKey) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_h.game_key.errors %}
                                    {% for error in form_h.game_key.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_h.away_(value=a_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_h.away_.errors %}
                                    {% for error in form_h.away_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_h.home_(value=h_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_h.home_.errors %}
                                    {% for error in form_h.home_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_h.home_team.label }}
                                {{ form_h.home_team(id="home_team", class="form-control", readonly=True,value=nfl_game.HomeTeam) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_h.home_team.errors %}
                                    {% for error in form_h.home_team.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                             {{ form_h.point_spread.label }}
                                {% if nfl_game.PointSpread < 0 %}
                                    {{ form_h.point_spread(id="home_ps",class="form-control", value=nfl_game.PointSpread, type="number", min="-14", max="14", step="0.5") }}
                                {% else %}
                                    {{ form_h.point_spread(id="home_ps",class="form-control", value=nfl_game.PointSpread, type="number", min="-14", max="14", step="0.5") }}
                                {% endif %}
                            </div>
                            <span class="error bg-danger">
                                {% if form_h.point_spread.errors %}
                                    {% for error in form_h.point_spread.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_h.amount.label }}
                                {{ form_h.amount(id="amount", placeholder="$20.00", class="form-control")}}
                            </div>
                            <span class="error bg-danger">
                                {% if form_h.amount.errors %}
                                    {% for error in form_h.amount.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            {{ form_h.submit_h }}

                        </form>
                       
                    </div> <!-- end tab-pane home -->

                    <div class="tab-pane" id="away">
                        <form id="form-away" method="POST" action="{{ url_for('nfl.nfl_create_bet', game_key=nfl_game.GameKey) }}">
                            {{ form_a.csrf_token }}
                            <div class="form-group">
                                {{ form_a.game_key(value=nfl_game.GameKey) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_a.game_key.errors %}
                                    {% for error in form_a.game_key.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_a.away_(value=a_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_a.away_.errors %}
                                    {% for error in form_a.away_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_a.home_(value=h_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_a.home_.errors %}
                                    {% for error in form_a.home_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_a.away_team.label }}
                                {{ form_a.away_team(id="away_team", class="form-control", readonly=True, value=nfl_game.AwayTeam) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_a.away_team.errors %}
                                    {% for error in form_a.away_team.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                             {{ form_a.point_spread.label }}
                                {% if nfl_game.PointSpread > 0 %}
                                    {{ form_a.point_spread(id="away_ps",class="form-control", value=nfl_game.PointSpread*-1, type="number", min="-14", max="14", step="0.5") }}
                                {% else %}
                                    {{ form_a.point_spread(id="away_ps",class="form-control", value=nfl_game.PointSpread*-1, type="number", min="-14", max="14", step="0.5") }}
                                {% endif %}
                            </div>
                            <span class="error bg-danger">
                                {% if form_a.point_spread.errors %}
                                    {% for error in form_a.point_spread.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_a.amount.label }}
                                {{ form_a.amount(id="amount", placeholder="$20.00", class="form-control")}}
                            </div>
                            <span class="error bg-danger">
                                {% if form_a.amount.errors %}
                                    {% for error in form_a.amount.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            {{ form_a.submit_a }}
                        </form> 
                        
                    </div> <!-- end tab-pane away -->

                    <div class="tab-pane" id="totals">
                        <form id="form-over" method="POST" action="{{ url_for('nfl.nfl_create_bet', game_key=nfl_game.GameKey) }}">
                            {{ form_o.csrf_token }}
                            <div class="form-group">
                                {{ form_o.game_key(value=nfl_game.GameKey) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_o.game_key.errors %}
                                    {% for error in form_o.game_key.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_o.away_(value=a_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_o.away_.errors %}
                                    {% for error in form_o.away_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_o.home_(value=h_team) }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_o.home_.errors %}
                                    {% for error in form_o.home_.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_o.over_under.label }} 
                                {{ form_o.over_under }}
                            </div>
                            <span class="error bg-danger">
                                {% if form_o.over_under.errors %}
                                    {% for error in form_o.over_under.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_o.total.label }}
                                {{ form_o.total(class="form-control", value=nfl_game.OverUnder) }}  
                            </div>
                            <span class="error bg-danger">
                                {% if form_o.total.errors %}
                                    {% for error in form_o.total.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="form-group">
                                {{ form_o.amount.label }}
                                {{ form_o.amount(placeholder="$20.00", class="form-control")}}
                            </div>
                            <span class="error bg-danger">
                                {% if form_o.amount.errors %}
                                    {% for error in form_o.amount.errors %}
                                        <div class="bg-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            {{ form_o.submit_o }}
                        </form>
                         
                    </div><!-- end tab-pane totals -->
                
                </div> <!-- end tab-content -->


               
           
        </div>
    </div>
</div>
{% endblock content %}