{% extends "base.html" %}
{% block title %}{% endblock %}
{% block style %}
.vs {
    margin-top:125px;
}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="text-center">Opponent</h3>
                    <div class="confirmbet">
                        <p class="text-center"><img class="navpic" src="{{ nfl.users.profile.imgsrc|resize('100x100', fill=True, anchor='bottom', format='jpg', bgcolor='#999', quality=100, placeholder=True) }}"/></p>
                        <hr>
                        <p class="text-center">{{ nfl.game_date|game_time }} {{ nfl.game_date|game_date }}</p>
                        <h3 class="text-center">{{ nfl.vs }}</h3>
                            {% if nfl.over_under %}
                        <h4 class="text-center">{{ nfl.over_under }}{{ nfl.total_format }}</h4>
                            {% else %}
                        <h4 class="text-center">{{ nfl.team }}  {{ nfl.ps_format }}</h4>
                            {% endif %}
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <h4>risk: <i class='fa fa-btc' aria-hidden='true'></i> {{ nfl.amount }}<br>win: <i class='fa fa-btc' aria-hidden='true'></i> {{ nfl.amount_win }}</h4>
                            </div>
                        </div>
                        <div class="caption">
                        </div>
                    </div>
                </div>
                <div class="col-md-2"><h1 class="text-center vs"><span class="glyphicon glyphicon-transfer text-muted" aria-hidden="true"></span><br>VS</h1></div>
                <div class="col-md-5">
                    <h3 class="text-center">You</h3>
                    <div class="confirmbet">
                        <p class="text-center"><img class="navpic" src="{{ current_user.profile.imgsrc|resize('100x100', fill=True, anchor='bottom', format='jpg', bgcolor='#999', quality=100, placeholder=True) }}"/></p>
                        <hr>
                        <p class="text-center">{{ nfl.game_date|game_time }} {{ nfl.game_date|game_date }}</p>
                        <h3 class="text-center">{{ nfl.vs }}</h3>
                            {% if nfl.over_under %}
                        <h4 class="text-center">{{ nfl.opposite_over_under }}{{ nfl.total_format }}</h4>
                            {% else %}
                        <h4 class="text-center">{{ nfl.opposite_team }}  {{ nfl.opposite_ps }}</h4>
                            {% endif %}
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <h4 class="">risk: <i class='fa fa-btc' aria-hidden='true'></i> {{ nfl.amount }}<br>win:  <i class='fa fa-btc' aria-hidden='true'></i> {{ nfl.amount_win }}
                                </h4>
                            </div>
                        </div>
                        <div class="caption">
                        </div>
                    </div>
                </div><!-- col-md-5 -->
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div style="margin-top:20px"></div>
                    <form method="POST" action="{{ url_for('nfl.nfl_bet_vs_bet', bet_key=nfl.bet_key) }}" onsubmit="return checkForm(this);" >
                        {{ form.csrf_token }}
                        {{ form.submit(class="btn btn-success btn-block") }}
                        <div class="text-center cancel-div"><a class="cancel-btn" href="{{url_for('nfl.nfl_public_board') }}">cancel</a></div>
                    </form>
                </div>
            </div><!-- end row -->
        </div>
    </div>
</div><!-- end container -->
{% endblock %}