{% extends "base.html" %}
{% block title %}Edit This Bet{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail">
                {% if nfl_ou.over_under %}
                <p class="text-center"><img src="{{ nfl_ou.users.profile.avatar }}" width="40"/> {{ nfl_ou.users.username }}</p>
                <h3 class="text-center">{{ nfl_ou.vs }}</h3>
                <p class="text-center">{{ nfl_ou.game_date }} {{ nfl_ou.game_date }}</p>
                <form action="{{ url_for('nfl.nfl_edit_bet', bet_key=nfl_ou.bet_key) }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.game_key }}
                    </div>
                    <span class="error bg-danger">
                        {% if form.game_key.errors %}
                            {% for error in form.game_key.errors %}
                                <div class="bg-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </span>
                    <div class="form-group">
                        {{ form.away_(value=a_team) }}
                    </div>
                    <span class="error bg-danger">
                        {% if form.away_.errors %}
                            {% for error in form.away_.errors %}
                                <div class="bg-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </span>
                    <div class="form-group">
                        {{ form.home_(value=h_team) }}
                    </div>
                    <span class="error bg-danger">
                        {% if form.home_.errors %}
                            {% for error in form.home_.errors %}
                                <div class="bg-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </span>
                    <div class="form-group">
                        {{ form.over_under.label }} 
                        {{ form.over_under }}
                    </div>
                    <span class="error bg-danger">
                        {% if form.over_under.errors %}
                            {% for error in form.over_under.errors %}
                                <div class="bg-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </span>
                    <div class="form-group">
                        {{ form.total.label }}
                        {{ form.total(class="form-control") }}  
                    </div>
                    <span class="error bg-danger">
                        {% if form.total.errors %}
                            {% for error in form.total.errors %}
                                <div class="bg-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </span>
                    <div class="form-group">
                        {{ form.amount.label }}
                        {{ form.amount(placeholder="$20.00", class="form-control")}}
                    </div>
                    <span class="error bg-danger">
                        {% if form.amount.errors %}
                            {% for error in form.amount.errors %}
                                <div class="bg-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </span>
                    {{ form.submit_o(value="edit") }}
                </form>
                {% endif %}
                {% if nfl_sb.ps and nfl_sb.team == nfl_sb.home_team %}
                    <p class="text-center"><img src="{{ nfl_sb.users.profile.avatar }}" width="40"/> {{ nfl_sb.users.username }}</p>
                    <h3 class="text-center">{{ nfl_sb.vs }}</h3>
                    <p class="text-center">{{ nfl_sb.game_date }} {{ nfl_sb.game_date }}</p>
                    <form action="{{ url_for('nfl.nfl_edit_bet', bet_key=nfl_sb.bet_key) }}" method="POST">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.game_key }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.game_key.errors %}
                                {% for error in form.game_key.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                            {{ form.away_(value=a_team) }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.away_.errors %}
                                {% for error in form.away_.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                            {{ form.home_(value=h_team) }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.home_.errors %}
                                {% for error in form.home_.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                            {{ form.home_team.label }}
                            {{ form.home_team(id="home_team", class="form-control", readonly=True) }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.home_team.errors %}
                                {% for error in form.home_team.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                             {{ form.point_spread.label }}
                             {{ form.point_spread(class="form-control", type="number", min="-14", max="14", step="0.5", value=nfl_sb.ps) }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.point_spread.errors %}
                                {% for error in form.point_spread.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                            {{ form.amount.label }}
                            {{ form.amount(id="amount", placeholder="$20.00", class="form-control")}}
                        </div>
                        <span class="error bg-danger">
                            {% if form.amount.errors %}
                                {% for error in form.amount.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        {{ form.submit_h(value="edit") }}
                    </form>
                {% endif %}
                {% if nfl_sb.ps and nfl_sb.team == nfl_sb.away_team %}
                    <p class="text-center"><img src="{{ nfl_sb.users.profile.avatar }}" width="40"/> {{ nfl_sb.users.username }}</p>
                    <h3 class="text-center">{{ nfl_sb.vs }}</h3>
                    <p class="text-center">{{ nfl_sb.game_date }} {{ nfl_sb.game_date }}</p>
                    <form action="{{ url_for('nfl.nfl_edit_bet', bet_key=nfl_sb.bet_key) }}" method="POST">
                     {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.game_key }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.game_key.errors %}
                                {% for error in form.game_key.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                            {{ form.away_(value=a_team) }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.away_.errors %}
                                {% for error in form.away_.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                            {{ form.home_(value=h_team) }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.home_.errors %}
                                {% for error in form.home_.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                            {{ form.away_team.label }}
                            {{ form.away_team(id="away_team", class="form-control", readonly=True) }}
                        </div>
                        <span class="error bg-danger">
                            {% if form.away_team.errors %}
                                {% for error in form.away_team.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                         {{ form.point_spread.label }}
                         {{ form.point_spread(id="away_ps",class="form-control", value=nfl_sb.ps, type="number", min="-14", max="14", step="0.5") }}    
                        </div>
                        <span class="error bg-danger">
                            {% if form.point_spread.errors %}
                                {% for error in form.point_spread.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        <div class="form-group">
                            {{ form.amount.label }}
                            {{ form.amount(id="amount", placeholder="$20.00", class="form-control")}}
                        </div>
                        <span class="error bg-danger">
                            {% if form.amount.errors %}
                                {% for error in form.amount.errors %}
                                    <div class="bg-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </span>
                        {{ form.submit_a }}
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}