{% extends "base.html" %}

{% block title %}NFL schedule{% endblock title %}
{% block style %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="ptable__board">
                <table class="table table-border">
                    <thead class="thead"> 
                        <tr> 
                            <th class="text-center">Date Week: 7</th>  
                            <th class="text-center">Game Number</th> 
                            <th class="text-center">Game</th>
                            <th class="text-center">Spread</th>
                            <th class="text-center">ML</th>
                            <th class="text-center">Bet</th>
                        </tr>
                    </thead> 
                    <tbody class="tbody">
                     {% for d in data %}
                        {#{% if d.Date|dateify > dt %}#}
                        <tr>
                            <td rowspan="2" class="text-center"><p class="reg_pboard">{{ d.Date|dateify|game_time }}</p><p class="reg_pboard">{{ d.Date|dateify|game_date }}</p></td>
                            <td rowspan="2" class="text-center"><p class="reg_pboard">{{ d.GameKey }}</p></td>
                            <td class="text-center"><p class="pboard">{{ d.AwayTeam }}</p></td>
                            {% if d.PointSpread > 0 %}
                                <td class="text-center"><p class="pboard">{{ d.away_pointspread }}</p></td>
                            {% elif d.PointSpread == 0.0 %}
                                <td class="text-center"><p class="pboard">{{ d.OverUnder_ }}</p></td>
                            {% else %}
                                <td class="text-center"><p class="pboard">{{ d.OverUnder_ }}</p></td>
                            {% endif %}
                            <td class="text-center"><p class="pboard">{{ d.away_ml }}</p></td>
                            {% if current_user.is_active %}
                                {% if current_user.bitcoin_wallet %}
                                <td rowspan="2" class="text-center"><a class="btn btn-success" href="{{ url_for('nfl.nfl_create_bet', game_key=d.GameKey) }}">Create</a></td>
                                {% else %}
                                    <td rowspan="2" class="text-center"><a href="#" class="btn btn-success cbw" data-toggle="popover" data-placement="top" data-content="CREATE BITCOIN WALLET first before you can create a bet!">Create</a></td>
                                {% endif %}
                            {% elif current_user.is_anonymous %}
                                <td rowspan="2" class="text-center"><a href="#" class="btn btn-success cbw" data-toggle="popover" data-placement="top" data-content="You have to login in first to create a bet!">Create</a></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="middlerow text-center"><p class="bottom_pboard">{{ d.HomeTeam }}</p></td>
                             {% if d.PointSpread > 0 %}
                                <td class="middlerow text-center"><p class="bottom_pboard">{{ d.OverUnder_ }}</p></td>
                            {% elif d.PointSpread == 0.0 %}
                                <td class="middlerow text-center"><p class="bottom_pboard">{{ d.even_pointspread }}</p></td>
                            {% else %}
                                <td class="middlerow text-center"><p class="bottom_pboard">{{ d.home_pointspread }}</p></td>
                            {% endif %}
                            <td class="middlerow text-center"><p class="bottom_pboard">{{ d.home_ml }}</p></td>
                            
                        </tr>
                         {#{% endif %}#}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock content %}