{% extends "base.html" %}
{% block title %}{% endblock %}
{% block style %}
img {
    border-radius: 50%;
    height: 40px;
}
tr {
    margin: 5px 0 5px 0;
}
div#pager.pager {
    top:0 !important;
    position: relative !important;
}
.pagedisplay {
    width: 40px;
    text-align: center;
    border-color: lightblue;
    margin-left: 10px;
    margin-right: 10px;
}
i {
    color: lightblue;
}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="wrapper">
               <table id="public__board" class="table table-hover tablesorter" cellspacing="1">
                  <thead>
                    <tr>
                        <th><a>user<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>game day<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>game time<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>game<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>team<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>spread<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>total<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>amount<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>bet this<i class="fa fa-fw fa-sort"></i></a></th>
                    </tr>
                   </thead>
                   <tbody>
                    {% if tb %}
                        {% for bet in tb %}
                            {% if bet.game_date > dt %}
                        <tr> 
                             <td><img src="{{ bet.users.profile.avatar }}">
                                {{ bet.users.username }} {{ bet.user_id }} </td>
                            <td>{{ bet.game_date|game_date }}<br>{{ bet.game_date|game_day }}</td>
                            <td>{{ bet.game_date|game_time }}</td>
                            <td>{{ bet.vs }}</td>
                            <td>{{ bet.team }}</td>
                            <td>{#{{ bet.ps_format }}#}</td>
                            <td>{{ bet.over_under }}{{ bet.total_format }}</td>
                            <td>{{ bet.amount }}</td>
                            {% if current_user.id == bet.user_id %}
                                <td>
                                    <a href="{{ url_for('nfl.nfl_delete_bet', bet_key=bet.bet_key) }}">delete</a><br>
                                    <a href="{{ url_for('nfl.nfl_edit_bet', bet_key=bet.bet_key) }}">edit</a>
                                </td>
                            {% else %}
                                <td><a href="{{ url_for('nfl.nfl_bet', bet_key=bet.bet_key) }}">bet</a></td>
                            {% endif %} 
                        </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if sb %}
                        {% for bet in sb %}
                            {% if bet.game_date > dt %}
                        <tr> 
                             <td><img src="{{ bet.users.profile.avatar }}">
                                {{ bet.users.username }} {{ bet.user_id }} </td>
                            <td>{{ bet.game_date|game_date }}<br>{{ bet.game_date|game_day }}</td>
                            <td>{{ bet.game_date|game_time }}</td>
                            <td>{{ bet.vs }}</td>
                            <td>{{ bet.team }}</td>
                            <td>{{ bet.ps_format }}</td>
                            <td></td>
                            <td>{{ bet.amount }}</td>
                            {% if current_user.id == bet.user_id %}
                                <td>
                                    <a href="{{ url_for('nfl.nfl_delete_bet', bet_key=bet.bet_key) }}">delete</a><br>
                                    <a href="{{ url_for('nfl.nfl_edit_bet', bet_key=bet.bet_key) }}">edit</a>
                                </td>
                            {% else %}
                                <td><a href="{{ url_for('nfl.nfl_bet', bet_key=bet.bet_key) }}">bet</a></td>
                            {% endif %} 
                        </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                   
                    </tbody>
               </table>
           </div><!-- end wrapper -->
           <div id="pager" class="pager">
                <form>
                    <span class="first"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i></span>
                    <span class="prev"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></span>
                    <input type="text" class="pagedisplay" readonly/>
                    <span class="next"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></span>
                    <span class="last"><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></span>
                    <select class="pagesize">
                        <option selected="selected"  value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option  value="40">40</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}