{% extends "base.html" %}
{% block title %}{% endblock %}
{% block style %}
img {
    border-radius: 50%;
    height: 40px;
}
tr {
    margin: 5px 0 5px 0;
}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="wrapper">
               <table id="public__board" class="table table-hover tablesorter" cellspacing="1">
                  <thead>
                    <tr>
                        <th><a>user<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>game day<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>game time<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>game<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>team<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>spread<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>total<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>amount<i class="fa fa-fw fa-sort"></i></a></th>
                        <th><a>bet this<i class="fa fa-fw fa-sort"></i></a></th>
                    </tr>
                   </thead>
                   <tbody>
                    {% for bet in all_bets %}
                        {% if bet.game_date > dt %}
                        <tr> 
                            <td><img src="{{ bet.users.profile.avatar }}">
                                {{ bet.users.username }} {{ bet.user_id }} </td>
                            <td>{{ bet.game_date|game_date }}<br>{{ bet.game_date|game_day }}</td>
                            <td>{{ bet.game_date|game_time }}</td>
                            <td>{{ bet.vs }}</td>
                            <td>{{ bet.team }}</td>
                            <td>{{ bet.ps_format() }}</td>
                            <td>{{ bet.over_under }}{{ bet.total_format() }}</td>
                            <td>{{ bet.amount }}</td>
                            {% if current_user.id == bet.user_id %}
                                <td>
                                    <a href="{{ url_for('nfl.nfl_delete_bet', bet_key=bet.bet_key) }}">delete</a><br>
                                    <a href="{{ url_for('nfl.nfl_edit_bet', bet_key=bet.bet_key) }}">edit</a>
                                </td>
                            {% else %}
                                <td><a href="">bet</a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
               </table>
           </div>
        </div>
    </div>
</div>
{% endblock %}