{% extends "base.html" %}
{% block title %}{% endblock %}
{% block style %}
.vs {
    margin-top:125px;
}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="text-center">Opponent</h3>
                    <div class="thumbnail">
                        <p class="text-center"><img src="{{ nfl.users.profile.avatar }}" width="40"/> {{ nfl.users.username }}</p>
                        <h3 class="text-center">{{ nfl.vs }}</h3>
                        <p class="text-center">{{ nfl.game_date|game_time }} {{ nfl.game_date|game_date }}</p>
                            {% if nfl.over_under %}
                        <h4 class="text-center">{{ nfl.over_under }}{{ nfl.total_format }}</h4>
                            {% else %}
                        <h4 class="text-center">{{ nfl.team }}  {{ nfl.ps_format }}</h4>
                            {% endif %}
                        <h4 class="text-center"> risk: ${{ nfl.amount }}<br>
                                                 win: ${{ nfl.amount_win }}
                         </h4>
                        
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-2"><h1 class="text-center vs">VS</h1></div>
                <div class="col-md-5">
                    <h3 class="text-center">You</h3>
                    <div class="thumbnail">
                        <p class="text-center"><img src="{{ current_user.profile.avatar }}" width="40"/> {{ current_user.username }}</p>
                        <h3 class="text-center">{{ nfl.vs }}</h3>
                        <p class="text-center">{{ nfl.game_date|game_time }} {{ nfl.game_date|game_date }}</p>
                            {% if nfl.over_under %}
                        <h4 class="text-center">{{ nfl.opposite_over_under }}{{ nfl.total_format }}</h4>
                            {% else %}
                        <h4 class="text-center">{{ nfl.opposite_team }}  {{ nfl.opposite_ps }}</h4>
                            {% endif %}
                        <h4 class="text-center"> risk: ${{ nfl.amount }}<br>
                                                 win: ${{ nfl.amount_win }}
                        </h4>
                        
                        <div class="caption">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form method="POST" action="">
                       
                        <input type="submit" class="form-control btn btn-success btn-block" value="bet this opponent">
                        <div class="text-center"><a href="{{url_for('nfl.nfl_public_board') }}">cancel</a></div>
                    </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}