{% extends "base.html" %}
{% block title %}Delete This Bet{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail">
                <h3 class="text-center">Are you sure you want to delete this bet?</h3>
                {% if nfl_ou %}
                <p class="text-center">{{ nfl_ou.bet_key }}</p>
                <p class="text-center">{{ nfl_ou.vs }}</p>
                <p class="text-center"> {{ nfl_ou.over_under }}{{ nfl_ou.total_format() }} for ${{ nfl_ou.amount }}</p>
                <p class="text-center">{{ nfl_ou.game_date|game_time }} {{ nfl_ou.game_date|game_date }}</p>
                <form class="text-center" method="post" action="">
                    {{ form.csrf_token }}
                    <input class="btn btn-danger" type="submit" value="Delete Item">
                    <a class="btn btn-default" href="{{ url_for('nfl.nfl_public_board') }}">Cancel</a>
                </form>
                {% endif %}
                {% if nfl_sb %}
                <p class="text-center">{{ nfl_sb.bet_key }}</p>
                <p class="text-center">{{ nfl_sb.vs }}</p>
                <p class="text-center"> {{ nfl_sb.team }}{{ nfl_sb.ps_format() }} for ${{ nfl_sb.amount }}</p>
                <p class="text-center">{{ nfl_sb.game_date|game_time }} {{ nfl_sb.game_date|game_date }}</p>
                <form class="text-center" method="post" action="">
                    {{ form.csrf_token }}
                    <input class="btn btn-danger" type="submit" value="Delete Item">
                    <a class="btn btn-default" href="{{ url_for('nfl.nfl_public_board') }}">Cancel</a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}