<div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab1">Home</a>
        </li>
        <li>
            <a href="#tab2">Schedule</a>
        </li>
        <li>
            <a href="#tab3">Stats</a>
        </li>
    </ul>
</div>
<section id="tab1" class="tab-content active">
    <div>
        Content in tab home
    </div>
</section>
<section id="tab2" class="tab-content hide">
    <div>
        Content in tab schedule
    </div>
</section>
<section id="tab3" class="tab-content hide">
    <div>
        Content in tab stats
    </div>
</section>