{% extends "base.html" %}
{% block title %}{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>check your pending bets in your profile</p>
            <div class="confirmbet">
                <h2 class="text-center">{{ current_user.username }}, this is your bet.</h2>
                <div style="display:block;margin:0 auto;text-align:center;"><img class="navpic" src="{{ current_user.profile.imgsrc|resize('100x100', fill=True, anchor='bottom', format='jpg', bgcolor='#999', quality=100, placeholder=True) }}"/></div>
                
                <hr>
                <div class="caption">
                    <p><b>Game Key</b>: {{ live_bet.game_key }}</p>
                    <p><b>Bet Key</b>: {{ live_bet.bet_key }}</p>
                    <p><b>Date</b>: {{ live_bet.game_date|datetimefilter_f }}</p>
                    <p><b>VS</b>: {{ live_bet.vs }}</p>
                    {% if live_bet.opposite_team %}
                        <p><b>Bet</b>: {{ live_bet.opposite_team }} {{ live_bet.opposite_ps }}</p>
                    {% else %}
                        <p><b>Bet</b>: {{ live_bet.opposite_over_under }}{{ live_bet.total_format }}</p>
                    {% endif %}
                    <p><b>Risk: </b><i class='fa fa-btc' aria-hidden='true'></i> {{ live_bet.amount }} / <b>win: </b><i class='fa fa-btc' aria-hidden='true'></i> {{ live_bet.amount_win }}</p>
                    <p><b>Opponent: </b>{{ live_bet.users.username }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}